APP_NAME=nest-api
APP_DESCRIPTION=nest-api
APP_VERSION=1.0.0
APP_PORT=3000

# Postgres Config
POSTGRES_HOST=my-postgres-docker-service
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=nest-crud
RUN_MIGRATIONS=false

#Redis Config
REDIS_HOST=my-redis-docker-service
REDIS_PORT=6379
REDIS_USERNAME=root
REDIS_PASSWORD=root

# JWT Config
JWT_SECRET=465336417f2d4dd1d91cdac5b48c1401e5de9804804f985c0c2343ebe02881b4
JWT_EXPIRE_IN=1d
REFRESH_JWT_SECRET=465336417f2d4dd1d91cdac5b48c1401e5de9804804f985c0c2343ebe02881b4
REFRESH_JWT_EXPIRE_IN=30d

# Frontend URLs
FRONTEND_URL=http://localhost:3000
FRONTEND_URL_NETWORK=http://localhost:3000